/* card page -start */
.cart-page {
  &__top {
    padding: 50px 0;
  }
}

.cart-header {
  padding: 25px 0;
  background-color: $title;

  &__list {
    display: grid;
    grid-template-columns: 4fr 1fr repeat(3, 2fr) 1fr;
  }

  &__item {
    @extend %causten-600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: $white;
    text-align: left;
    & + .cart-header__item {
      text-align: center;
    }
  }
}

.card-product {
  &__inner {
    padding: 20px 0 50px 0;
  }

  &__item {
    display: grid;
    grid-template-columns: 4fr 1fr repeat(3, 2fr) 1fr;
    padding: 50px 0;
    border-bottom: 1px solid #bebcbd;
    &:last-of-type {
      border-bottom: none;
    }
    & > * {
      align-self: center;
    }
    &>*:not(.card-product__details) {
      text-align: center;
    }
    
  }

  &__details {
    display: flex;
    gap: 0 20px;
  }
  &__img {
    width: 105px;
    height: 120px;
    object-fit: cover;
  }
  &__title {
    @extend %causten-700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $title;
    margin-bottom: 10px;
  }

  &__color-box,
  &__size-box,
  &__price-box,
  &__shipping-box {
    @extend %causten-500;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 5px;
    color: #807d7e;
  }
  &__price-box,
  &__shipping-box {
    display: none;
  }
  &__cost,
  &__subtotal {
    @extend %causten-700;
    font-size: 18px;
    line-height: 22px;
    color: $title;
  }
  &__action {
    display: inline-flex;
    vertical-align: sub;
    svg {
      path {
        fill: #807d7e;
      }
    }
    &:hover {
      svg {
        path {
          fill: $accent;
        }
      }
    }
  }
  .jq-number__field {
    width: 100px;
  }

  .jq-number__field input {
    background: #f6f6f6;
    border: none;
    outline: none;
    border-radius: 12px;
    width: 100%;
    height: 36px;
    @extend %causten-500;
    font-size: 12px;
    line-height: 14px;
    color: $title;
    text-align: center;
  }

  .jq-number {
    padding: 0;
    position: relative;
  }

  .jq-number__spin {
    position: absolute;
    cursor: pointer;
    width: 10px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .jq-number__spin::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 10px;
    height: 1px;
    background-color: $title;
  }

  .jq-number__spin.minus {
    left: 23px;
  }

  .jq-number__spin.plus {
    right: 23px;
  }

  .jq-number__spin.plus::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 10px;
    background-color: $title;
    top: 0;
    left: 5px;
  }
}

.cart-footer {
  background-color: #F6F6F6;

  &__inner {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__discount {
    max-width: 375px;
    width: 100%;
  }

  &__discount-title {
    @extend %causten-600;
    font-size: 24px;
    line-height: 29px;
    color: $title;
    margin-bottom: 10px;
  }

  &__discount-subtitle {
    @extend %causten-400;
    font-size: 16px;
    line-height: 19px;
    color: #807d7e;
    margin-bottom: 40px;
  }

  &__discount-form {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
  }

  &__discount-input {
    border: 1px solid #bebcbd;
    border-radius: 12px 0 0 12px;
    padding: 10px;
    @extend %causten-400;
    font-size: 16px;
    line-height: 19px;
    color: $title;
    outline: none;
    height: 43px;
  }

  &__discount-form-btn {
    @extend %causten-600;
    font-size: 16px;
    line-height: 19px;
    color: $white;
    display: inline-flex;
    align-items: center;
    background-color: $accent;
    border: 1px solid #bebcbd;
    border-radius: 0 12px 12px 0;
    padding: 10px 20px 10px 30px;

    &:hover {
      background-color: #6620C1;
      box-shadow: 0px 3px 4px 0px #0000001A;
    }

    &:focus {
      background: #6620C1;
    }
  }

  &__discount-out {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 50px;
    @extend %causten-600;
    font-size: 16px;
    line-height: 19px;
    color: $title;
    text-align: center;
    border: 1px solid #bebcbd;
    border-radius: 8px;
  
    &:hover {
      color: #8A33FD;
      background: #6620C108;
      border: 1px solid #3C4242;
    }

    &:focus {
      background: #6620C108;
      border: 1px solid #8A33FD;
    }
  }

  &__total {
    padding: 10px 0 50px 0;
    max-width: 465px;
    width: 100%;
    text-align: center;
  }

  &__total-box {
    padding: 0 90px 50px 90px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(190, 188, 189);

    &>* {
      display: flex;
      justify-content: space-between;
    }
  }

  &__subtotal-box {
    margin-bottom: 15px;
  }

  &__subtotal-title,
  &__subtotal,
  &__shipping-title,
  &__shipping {
    @extend %causten-500;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: $title;
  }

  &__shipping-box {
    margin-bottom: 40px;
  }

  &__grandtotal-title,
  &__grandtotal {
    @extend %causten-700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: $title;
  }

  &__total-btn {
    @extend %causten-600;
    font-size: 18px;
    line-height: 22px;
    color: $white;
    padding: 12px 33px;
    border-radius: 8px;
    background: $accent;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #6620C1;
      box-shadow: 0px 3px 4px 0px #0000001A;
    }

    &:focus {
      background: #6620C1;
    }
  }
}

/* card end */

@media (max-width: 870px) {
  .cart-header {
    &__item {
      font-size: 16px;
      line-height: 1;
    }
  } 
  .card-product {
    &__title {
      margin-bottom: 5px;
    }
    &__details {
      gap: 10px;
    }
  }
  .cart-footer {
    &__total-box {
      padding: 0 50px 50px 50px;
    }
  }
}
@media (max-width: 748px) {
  .cart-header {
    &__list {
      grid-template-columns: 3fr repeat(3, 1fr);
    }
    &__item {
      &:nth-child(2),
      &:nth-child(4) {
        display: none;
      }
      & + .cart-header__item {
        text-align: center;
      }
    }
  }
  .card-product {
    &__item {
      grid-template-columns: 3fr repeat(3, 1fr);
      & div:last-child {
        justify-items: center;
      }
    }
    &__title {
      font-size: 16px;
      line-height: 1;
    }
    &__price-box,
    &__shipping-box {
      display: block;
    }
    &__cost,
    &__shipping {
      display: none;
    }
  }
  .cart-footer {
    &__inner {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      align-items: center;
    }
    &__discount {
      padding-bottom: 50px;
    }
  }
}
@media (max-width: 628px) {
  .cart-header {
    &__item {
      font-size: 14px;
      line-height: 1;
    }
  }
}
@media (max-width: 578px) {
  .cart-header {
    height: 1px;
    padding: 0;
    & > * {
      display: none;
    }
  }
  .card-product {
    &__item {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: minmax(50px, auto);
      gap: 15px;
      padding: 25px 0;
      &>*:not(.card-product__details) {
        text-align: left;
      }
    }
    &__details {
      grid-column: 1/-1;
      gap: 20px;
    }
  }
}
@media (max-width: 439px) {
  .cart-page{
    &__top {
      padding: 30px 0;
    }
  }
  .cart-footer {
    &__total-box {
      padding-left: 10px;
      padding-right: 10px;
    }
    &__discount-form {
      flex-wrap: wrap;
    }
    &__discount-input {
      width: 100%;
      margin-bottom: 10px;
    }
    &__discount-input,
    &__discount-form-btn {
      border-radius: 8px;
    }
    &__discount-form-btn {
      padding-right: 30px;
    }
    &__subtotal-title,
    &__subtotal,
    &__shipping-title,
    &__shipping,
    &__grandtotal-title,
    &__grandtotal {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}
