/* checkout start */
.checkout {
  padding-bottom: 100px;

  &__top-box {
    padding-top: 25px;
    margin-bottom: 50px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__form-subtitle {
    color: $title;
    @extend %causten-400;
    font-size: 16px;
    line-height: 19px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 840px;
    width: 100%;
  }

  &__form {
    padding-top: 10px;
  }

  &__form-title {
    @extend %coreSansC-600;
    font-size: 22px;
    line-height: 33.5px;
    letter-spacing: 0.02em;
    color: $title;
  }

  &__contact-form {
    width: 100%;
  }

  &__form-btn {
    border-radius: 8px;
    background: $accent;
    color: rgb(255, 255, 255);
    @extend %causten-500;
    font-size: 18px;
    line-height: 22px;
    color: $white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
  }

  &__order {
    padding-top: 10px;
  }
}

.delivery-form {
  &__box {
    &--style {
      padding-top: 50px;
      padding-right: 38px;
      padding-bottom: 35px;
      margin-bottom: 30px;
      border-bottom: 1px solid #edeef2;
    }
  }

  &__costumer,
  &__region,
  &__adress,
  &__postal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    label {
      display: flex;
      flex-direction: column;
      width: 382px;
      padding-bottom: 30px;

      input {
        width: 100%;
        height: 50px;
        border-radius: 8px;
        background: #f6f6f6;
        padding: 16px 20px 16px 20px;
        border: none;
        @extend %causten-400;
        font-size: 14px;
        line-height: 17px;
        color: #807d7e;
        outline: none;

        &::placeholder {
          color: #807d7e;
          @extend %causten-400;
          font-size: 14px;
          line-height: 17px;
        }

        &:hover {
          border: 1px solid rgb(60, 66, 66);
          border-radius: 8px;
          background: rgba(102, 32, 193, 0.03);
        }

        &:focus {
          border: 1px solid rgb(138, 51, 253);
        }
      }

      span {
        @extend %causten-600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.02em;
        color: $title;
        margin-bottom: 10px;
      }
    }
  }

  &__postal {
    & label:nth-child(-n+3) {
      width: 246px;
    }
  }

  .jq-selectbox__select {
    width: 246px;
    height: 50px;
    padding: 16px 35px 16px 20px;
    border-radius: 8px;
    background: rgb(246, 246, 246);
    display: inline-flex;
    align-items: center;
    color: #807d7e;
    @extend %causten-400;
    font-size: 14px;
    line-height: 17px;

    &:hover {
      border: 1px solid rgb(60, 66, 66);
      border-radius: 8px;
      background: rgba(102, 32, 193, 0.03);
    }

    &:focus,
    &:active {
      border: 1px solid rgb(138, 51, 253);
      border-radius: 8px;
      background: rgba(102, 32, 193, 0.03);
    }
  }

  .jq-selectbox__trigger {
    border-left: none;
  }

  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
    width: 12px;
    height: 7px;
    border: none;
    background-image: url('../images/icon/select-icon.svg');
  }

  .jq-selectbox__dropdown ul {
    width: 246px;
    padding-left: 0;

    li {
      width: 100%;
      height: 50px;
      border-radius: 8px;
      padding: 16px 35px 16px 20px;
      background: rgb(246, 246, 246);
      display: inline-flex;
      align-items: center;
      color: #807d7e;
      @extend %causten-400;
      font-size: 14px;
      line-height: 17px;

      &+li {
        margin-top: 5px;
      }

      &:hover {
        border: 1px solid rgb(60, 66, 66);
        border-radius: 8px;
        background: rgba(102, 32, 193, 0.03);
      }

      &:focus,
      &:active {
        border: 1px solid rgb(138, 51, 253);
        border-radius: 8px;
        background: rgba(102, 32, 193, 0.03);
      }
    }
  }

  &__bottom-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: 54px;
    border-radius: 8px;
    background: rgb(138, 51, 253);
    color: $white;
    @extend %causten-500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 35px;

    &:hover {
      background-color: #6620C1;
      box-shadow: 0px 3px 4px 0px #0000001A;
    }

    &:focus {
      background: #6620C1;
    }
  }

  &__bottom-label {
    display: flex;
    align-items: center;
    width: 364px;
    position: relative;
  }

  &__bottom-checkbox {
    @extend %checkbox-hidden;

    &:checked+.delivery-form__bottom-checkstyle {
      position: absolute;
      content: '';
      width: 18px;
      height: 18px;
      background-image: url('../images/icon/checked-box.svg');
    }
  }

  &__bottom-checkstyle {
    position: absolute;
    content: '';
    background-image: url('../images/icon/box-disabled.svg');
    width: 18px;
    height: 18px;

    &:hover {
      background-image: url('../images/icon/box.svg');
    }
  }

  &__bottom-text {
    color: $title;
    @extend %causten-400;
    font-size: 18px;
    line-height: 22px;
    padding-left: 30px;
  }
}

.shipping-address {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #edeef2;

  &__title {
    margin-bottom: 10px;
  }

  &__subtitle {
    margin-bottom: 30px;
  }

  &__box {
    color: $title;
    @extend %causten-700;
    font-size: 20px;
    line-height: 24px;
    border-radius: 12px;
    background: #f6f6f6;
    width: 100%;
    padding: 40px 48px 40px 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(190, 188, 189);

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__radio {
    @extend %checkbox-hidden;

    &:checked+.shipping-address__radio-checked {
      position: absolute;
      content: '';
      width: 18px;
      height: 18px;
      background-image: url('../images/icon/radio-selected.svg');
    }
  }

  &__radio-checked {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-image: url('../images/icon/radio-button.svg');
  }

  &__text {
    padding-left: 38px;
  }
}

.shipping-method {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #edeef2;

  &__title {
    margin-bottom: 30px;
  }

  &__box {
    color: $title;
    @extend %causten-700;
    font-size: 20px;
    line-height: 24px;
    border-radius: 12px;
    background: #f6f6f6;
    width: 100%;
    padding: 40px 48px 40px 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(190, 188, 189);

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__subtitle {
    color: rgb(128, 125, 126);
    @extend %causten-500;
    font-size: 16px;
    line-height: 19px;
    padding-top: 10px;
  }
}

.payment-method {
  margin-bottom: 50px;

  &__title {
    margin-bottom: 10px;
  }

  &__subtitle {
    margin-bottom: 30px;
  }

  &__container {
    padding: 45px 38px 15px 28px;
    border-radius: 12px;
    background: #f6f6f6;
  }

  &__item {
    margin-bottom: 30px;
    border-bottom: 1px solid #bebcbd;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__radio {
    @extend %checkbox-hidden;

    &:checked+.payment-method__radio-checked {
      position: absolute;
      content: '';
      width: 18px;
      height: 18px;
      background-image: url('../images/icon/radio-selected.svg');
    }
  }

  &__radio-checked {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-image: url('../images/icon/radio-button.svg');
  }

  &__box-title {
    padding-left: 38px;
  }

  &__title-box {
    @extend %causten-700;
    color: $title;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  &__subtitle-box {
    @extend %causten-400;
    color: $title;
    font-size: 16px;
    line-height: 19px;
  }

  &__content {
    padding-left: 38px;
    padding-bottom: 30px;
  }

  &__logo-set {
    display: flex;
    gap: 0 20px;
    margin-bottom: 30px;
  }

  &__logo {
    width: 80px;
    height: auto;
    object-fit: cover;
  }

  &__details {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;

    label {
      display: block;
      width: 337px;
      width: 100%;
      height: 50px;
    }

    input {
      width: 100%;
      height: 100%;
      padding: 10px;
      border: 1px solid $title;
      border-radius: 8px;
      color: rgb(128, 125, 126);
      @extend %causten-400;
      color: #807d7e;
      font-size: 14px;
      line-height: 17px;
      outline: none;

      &::placeholder {
        color: #807d7e;
        @extend %causten-400;
        font-size: 14px;
        line-height: 17px;
      }

      &:hover {
        border: 1px solid rgb(60, 66, 66);
        border-radius: 8px;
        background: rgba(102, 32, 193, 0.03);
      }

      &:focus {
        border: 1px solid rgb(138, 51, 253);
      }
    }
  }
  &__security-code-label {
    position: relative;
  }
  &__security-code-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    align-items: center;
  }
  &__security-code-close {
    display: inline-flex;
    svg {
      path {
        stroke: #807D7E;
      }
      path {
        stroke: #807D7E;
      }
    }
    &:hover {
    svg {
        path {
          stroke: #000;
        }
    
        path {
          stroke: #000;
        }
      }
    }
  }
  &__security-code-open {
    display: inline-flex;
    svg {
        path {
          fill: #807D7E;
        }
      } 
      &:hover {
        svg {
          path {
            fill: #000;
          }
        }
      }
  }
}

.checkout-order {
  width: 400px;
  padding: 40px 20px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.05), -2px -2px 4px 0px rgba(0, 0, 0, 0.05);

  &__title {
    @extend %coreSansC-600;
    font-size: 24px;
    line-height: 24px;
    color: $title;
    margin-bottom: 10px;
  }

  &__items {
    margin-bottom: 15px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #edeef2;

    &:last-child {
      border-bottom: 1px solid #edeef2;
    }
  }

  &__detalis {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 63px;
    height: 63px;
    object-fit: cover;
  }

  &__item-title-box {
    margin-left: 15px;
  }

  &__title-item {
    @extend %causten-700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: $title;
    margin-bottom: 5px;

    span {
      color: #807D7E;
    }
  }

  &__color-box {
    @extend %causten-500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: $title;
  }

  &__color {
    color: #807D7E;
  }

  &__total-item {
    border-bottom: 1px solid #edeef2;
    padding-bottom: 20px;
    margin-bottom: 20px;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0px;
      margin-bottom: 0;
    }
  }

  &__subtotal-item,
  &__savings-item,
  &__shipping-item,
  &__grand-total-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__subtotal-title,
  &__savings-title,
  &__shipping-title,
  &__total-title,
  &__subtotal-sum,
  &__savings-sum,
  &__shipping-sum,
  &__grand-total-sum {
    @extend %causten-700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $title;
  }

  &__subtotal-quantity,
  &__subtotal-quantity-text {
    @extend %causten-500;
    color: #807D7E;

  }

}
@media (max-width: 1280px) {
  .checkout__form {
    .delivery-form {
      &__costumer,
      &__region,
      &__adress,
      &__postal {
        label {
          width: 100%;
        }
      }
    }
    .jq-selectbox__select,
    .jq-selectbox__dropdown ul {
      width: 100%;
    }
  }
}
@media (max-width: 960px) {
  .payment-method {
    &__logo {
      width: 66px;
    }
  }
}
@media (max-width: 870px) {
  .delivery-form {
    &__box {
      &--style{
        padding-right: 0;
      }
    }
  }
  .checkout {
    &__inner {
      flex-wrap: wrap;
    }
    &__order {
      order: 1;
      width: 100%;
      margin-bottom: 50px;
    }
    .checkout-order {
      width: 100%;
    }
    &__content {
      order: 2;
    }
    .payment-method {
      &__logo-set {
        gap: 20px;
      }
  
      &__logo {
        width: 80px;
      }
    }
  }
}
@media (max-width: 578px) {
  .checkout {
    .shipping-address,
    .shipping-method {
      &__box {
        font-size: 18px;
        line-height: 1.2;
        padding-right: 30px;
      }
    }
    .payment-method {
      &__title-box {
        font-size: 18px;
        line-height: 1.2;
      }
      &__logo-set {
        gap: 10px;
      }
      &__logo {
        width: 60px;
      }
    }
  }
}
@media (max-width: 439px) {
  .checkout {
    .checkout-order {
      padding-left: 10px;
      padding-right: 10px;
    }
    .delivery-form {
      &__bottom-label {
        width: 100%;
      }
      &__bottom-text {
        font-size: 16px;
        line-height: 1.2;
        padding-left: 25px;
      }
    }
    .shipping-address,
    .shipping-method {
      &__box {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .payment-method {
      &__container {
        padding-left: 20px;
        padding-right: 20px;
      }
      &__content {
        padding-left: 0;
      }
    }
    
  }
}
@media (max-width: 370px) {
  .checkout {
    .checkout-order {
      margin-left: 5px;
      margin-right: 5px;
      &__item {
        display: block;
      }
      &__item-title-box {
        margin-left: 8px;
      }
      &__cost {
        text-align: right;
      }
    }
    &__form-title {
      font-size: 20px;
    }
    .shipping-address,
    .shipping-method {
      &__box {
        padding: 30px 15px;
        font-size: 16px;
      }
    }
    .shipping-address {
      &__text {
        padding-left: 30px;
      }
    }
    .payment-method {
      &__container {
        padding: 30px 15px;
      }
      &__item {
        &:last-of-type {
          label {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}