 @font-face {
  font-family: 'Lora-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Lora-Regular'),
    url('../fonts/Lora-Regular.woff2') format('woff2'),
    url('../fonts/Lora-Regular.woff') format('woff');
  font-display: swap;
}
 
