 @font-face {
  font-family: 'Causten-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Causten-Bold'),
    url('../fonts/Causten-Bold.woff2') format('woff2'),
    url('../fonts/Causten-Bold.woff') format('woff');
  font-display: swap;
}
 @font-face {
  font-family: 'Causten-Semi-Bold';
  font-weight: 600;
  font-style: normal;
  src: local('Causten-Semi-Bold'),
    url('../fonts/Causten-Semi-Bold.woff2') format('woff2'),
    url('../fonts/Causten-Semi-Bold.woff') format('woff');
  font-display: swap;
}
 
 @font-face {
  font-family: 'Causten-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Causten-Medium'),
    url('../fonts/Causten-Medium.woff2') format('woff2'),
    url('../fonts/Causten-Medium.woff') format('woff');
  font-display: swap;
}
 @font-face {
  font-family: 'Causten-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Causten-Regular'),
    url('../fonts/Causten-Regular.woff2') format('woff2'),
    url('../fonts/Causten-Regular.woff') format('woff');
  font-display: swap;
}
 @font-face {
  font-family: 'Causten-Light';
  font-weight: 300;
  font-style: normal;
  src: local('Causten-Light'),
    url('../fonts/Causten-Light.woff2') format('woff2'),
    url('../fonts/Causten-Light.woff') format('woff');
  font-display: swap;
}
 @font-face {
  font-family: 'CoreSansC-55Medium';
  font-weight: 500;
  font-style: normal;
  src: local('CoreSansC-55Medium'),
    url('../fonts/CoreSansC-55Medium.woff2') format('woff2'),
    url('../fonts/CoreSansC-55Medium.woff') format('woff');
  font-display: swap;
}
 @font-face {
  font-family: 'CoreSansC-65Bold';
  font-weight: 600;
  font-style: normal;
  src: local('CoreSansC-65Bold'),
    url('../fonts/CoreSansC-65Bold.woff2') format('woff2'),
    url('../fonts/CoreSansC-65Bold.woff') format('woff');
  font-display: swap;
}
 @font-face {
  font-family: 'CoreSansC-85Heavy';
  font-weight: 800;
  font-style: normal;
  src: local('CoreSansC-85Heavy'),
    url('../fonts/CoreSansC-85Heavy.woff2') format('woff2'),
    url('../fonts/CoreSansC-85Heavy.woff') format('woff');
  font-display: swap;
}
 @font-face {
  font-family: 'Montserrat-ExtraBold';
  font-weight: 800;
  font-style: normal;
  src: local('Montserrat-ExtraBold'),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-display: swap;
}
 
