html,
body {
  height: 100%;
}
html {
  &.lock {
  overflow: hidden;
  }
}
body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-size: 16px;
  line-height: 25px;
  @extend %causten-600;
  color: $text;
}
button {
  background-color:transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
select {
  margin: 0;
  padding: 0;
  opacity: 0;
}
.main {
  flex-grow: 1;
}
.container {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
}
.container-fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}
.container-m {
  max-width: 1440px;
  padding: 0 110px;
  margin: 0 auto;
}
.title {
  font-size: 28px;
  line-height: 33.5px;
  @extend %coreSansC-600;
  display: block;
  color: $title;
  position: relative;
  padding-left: 26px;
  &::before {
    position: absolute;
    content:'';
    width: 6px;
    height: 28px;
    left: 0;
    top: 1px;
    background-color: $accent;
    border-radius: 10px ;
  }
}

.hidden {
  display: none;
}

.breadcrumbs {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  &__list {
    display: flex;
  }
  &__item {
    @extend %causten-500;
    font-size: 18px;
    line-height: 22px;
    color: #807d7e;
    padding-right: 35px;
    position: relative;
    &::after {
      position: absolute;
      background-image: url('../images/filter-icon-left.svg');
      content: '';
      width: 7px;
      height: 13px;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:last-child {
      color: $title;
      /* цвет можно изменть, чтобы выделить последнюю ссылку т.е. страничку ге мы сейчас нахожимся. Даже если последний элемент изменят на спан, то сити будут работать как надо */
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }
  &__link {
    color: inherit;
  }
}

.note-registration {
  padding-top: 30px;
  text-align: left;
  &__text {
    @extend %causten-400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #807d7e;
  }
  &__link {
    @extend %causten-600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: $accent;
  }
}

.user-register {
  &__link {
    color: $accent;
    @extend %causten-500;
    font-size: 18px;
    line-height: 22px;
    border-radius: 8px;
    border: 1px solid $title;
    padding: 12px 48px 12px 48px;
    display: inline-flex;

    &:hover {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      background: $accent;
      color: $white;
    }

    &--active {
      background-color: $accent;
      color: $white;
      border: none;
    }

    &+.user-register__link {
      margin-left: 30px;
    }
  }
}

.menu-register {
  max-width: 602px;
  width: 100%;

  &__form {
    width: 100%;
    justify-content: space-between;
  }

  &__label {
    width: 184px;
  }

  .jq-selectbox__select {
    width: 206px;
    color: $title;
    @extend %causten-400;
    font-size: 18px;
    line-height: 22px;
    padding-right: 36px;
  }

  .jq-selectbox__trigger {
    border-left: none;
  }

  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 10px;
    height: 5px;
    border: none;
    background-image: url('../images/langauge-select-icon.svg');
  }

  .jq-selectbox__dropdown ul {
    width: 246px;
    padding-left: 0;

    li {
      width: 100%;
      height: 50px;
      border-radius: 8px;
      padding: 16px 35px 16px 20px;
      background: rgb(246, 246, 246);
      display: inline-flex;
      align-items: center;
      color: #807d7e;
      @extend %causten-400;
      font-size: 14px;
      line-height: 17px;

      &+li {
        margin-top: 5px;
      }

      &:hover {
        border: 1px solid rgb(60, 66, 66);
        border-radius: 8px;
        background: rgba(102, 32, 193);
        color: $white;
      }

      &:focus,
      &:active {
        color: $white;
        border: 1px solid rgb(138, 51, 253);
        border-radius: 8px;
        background: rgba(102, 32, 193);
      }
    }
  }
}
