html,
body {
  height: 100%;
}
html {
  &.lock {
  overflow: hidden;
  }
}
body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-size: 16px;
  line-height: 25px;
  @extend %causten-600;
  color: $text;
}
button {
  background-color:transparent;
  border: none;
  cursor: pointer;
}
.main {
  flex-grow: 1;
}
.container {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
}
.container-fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}
.title {
  font-size: 28px;
  line-height: 33.5px;
  @extend %coreSansC-600;
  display: block;
  color: $title;
  position: relative;
  padding-left: 26px;
  &::before {
    position: absolute;
    content:'';
    width: 6px;
    height: 28px;
    left: 0;
    top: 1px;
    background-color: $accent;
    border-radius: 10px ;
  }
}

