.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  background-color: #fff;
  &__inner {
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__search-form {
    display: flex;
    align-items: center;
  }

  &__search-label {
    width: 267px;
    position: relative;
  }

  &__search-btn {
    width: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    svg {
      path {
        fill: #807D7E;
      }
    }

    &:hover {
      svg {
        path {
          fill: $accent;
        }
      }
    }
  }

  &__search-input {
    border-radius: 8px;
    background: #f6f6f6;
    padding: 12px 20px 12px 52px;
    width: 100%;
    height: 44px;
    border: none;
    @extend %causten-400;
    font-size: 16px;
    line-height: 19px;
    color: $text;

    &::placeholder {
      @extend %causten-300;
      font-size: 16px;
      line-height: 19px;
      color: $text;
    }
  }
}

.header-shop {
  border-bottom: 1px solid rgb(190, 188, 189);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__btn {
    display: none;
  }
  &__list {
    display: flex;
    padding-top: 20px;
  }

  &__list-item {
    &+.menu__list-item {
      margin-left: 40px;
    }
  }

  &__list-item-link {
    @extend %causten-500;
    color: $text;
    position: relative;
    font-size: 22px;
    line-height: 26px;

    &:hover {
      @extend %causten-700;
      color: $title;
    }

    &--active {
      @extend %causten-700;
      color: $title;
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__link {
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 8px;
    background: #f6f6f6;

    &:hover {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      background: $accent;

      svg {
        path {
          stroke: $white;
        }
      }
    }

    &+.user-nav__link {
      margin-left: 12px;
    }

    &--active {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      background: $accent;

      svg {
        path {
          stroke: $white;
        }
      }
    }
  }
}

/* footer */

.footer {
  background-color: $title;
  padding: 60px 0;
}

.footer-top {
  padding-left: 75px;
  margin-bottom: 50px;

  &__items {
    display: flex;
  }

  &__nav {
    width: 180px;
  }

  &__item {
    &+.footer-top__item {
      margin-left: auto;
    }
  }

  &__contact {
    max-width: 448px;
    width: 100%;
  }

  &__title {
    @extend %causten-700;
    font-size: 28px;
    line-height: 217%;
    color: #f6f6f6;
  }

  &__link,
  &__adress,
  &__email {
    @extend %causten-500;
    font-size: 18px;
    line-height: 217%;
    color: #f6f6f6;
    display: block;

    &:hover {
      color: $accent;
    }
  }

  &__social-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__social-list {
    display: flex;
  }

  &__social-item {
    &+.footer-top__social-item {
      margin-left: 10px;
    }
  }

  &__social-link {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    background: rgb(246, 246, 246);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      path {
        fill: #2A2F2F;
      }
    }

    &:hover {
      background: $accent;

      svg {
        path {
          fill: $white;
        }
      }
    }
  }

  &__title {
    @extend %causten-700;
    font-size: 28px;
    line-height: 217%;
    margin-bottom: 20px;
    color: $white;
  }

  &__app {
    display: flex;
    gap: 30px;
  }
}

.footer-categories {
  padding: 30px 0 30px 75px;
  margin-bottom: 35px;
  border-top: 1px solid rgba(190, 188, 189, 0.4);
  border-bottom: 1px solid rgba(190, 188, 189, 0.4);
  position: relative;

  &__title {
    @extend %causten-700;
    font-size: 28px;
    line-height: 200%;
    color: $white;
    position: relative;
    cursor: pointer;

    &::after {
      position: absolute;
      content: '';
      background-image: url('../images/footer-arrow-icon.svg');
      width: 21px;
      height: 11px;
      top: 50%;
      transform: translateY(-50%);
      right: 30px;
      transition: all .5s;
    }

    &--active {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  ul.footer-categories__list {
    display: flex;
    padding-top: 20px;
  }
  &__item {
    &+.footer-categories__item {
      margin-left: 40px;
    }
  }
  &__link {
    color: $white;
    @extend %causten-500;
    font-size: 22px;
    line-height: 26px;

    &:hover {
      color: $accent;
    }
    &--active {
      color: $accent;
    }
  }
}

.footer-bottom {
  text-align: center;

  &__copy {
    @extend %causten-700;
    font-size: 18px;
    line-height: 200%;
    display: inline-block;
    color: $white;
  }
}

@media (max-width: 1260px) {
  .header {
  &__search-form {
    margin-left: 30px;
    }
  }
}

@media (max-width: 1140px) {
  .header {
  &__search-form {
      margin-left: 20px;
    }
  }
  .menu {
    &__list-item {
      &+.menu__list-item {
        margin-left: 20px;
      }
    }
    &__list-item-link {
      font-size: 20px;
    }
  }
  .footer-top {
    padding-left: 30px;
    &__items{
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .footer-categories {
    padding: 30px 0 30px 30px;
  }
}
@media (max-width: 1060px) {
  .footer-top {
    &__nav {
      width: auto;
    }
    &__item {
      margin-right: 20px;
      &+.footer-top__item {
        margin-left: 0;
      }
    }
  }
}
@media (max-width: 1019px) {
  .header {
    &__search-form {
      margin-left: 0px;
    }

    /*    &__search-input {
      font-size: 14px;
  
      &::placeholder {
        font-size: 14px;
      }
    } */
  }
  .menu {
    &__list-item {
      &+.menu__list-item {
        margin-left: 10px;
      }
    }
  }
}
@media (max-width: 928px) {
  .header {
    &__search-form {
      margin: 0 auto;;
    }
  }
  .menu {
    order: 1;
    margin-left: 20px;
    ul.menu__list {
      padding: 10px 0;
    }
    &__list {
      transform: translateX(-200%);
      position: absolute;
      background-color: #f6f6f6;
      top: 105px;
      width: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: all .3s;
      &.menu__list--active {
        transform: translateX(0%);
        transition: all .3s;
      }
    }
    &__list-item {
      width: 100%;
      text-align: center;
      &+.menu__list-item {
        margin-left: 0px;
      }
    }
    &__list-item-link {
      padding: 10px 0;
      display: block;
    }
    &__btn {
      width: 20px;
      height: 20px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: all .3s;
      z-index: 6;
      span {
        width: 100%;
        height: 2px;
        background-color: $title;
        transition: all .3s;
        transform: rotateY(0deg);
      }
      &::after,
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: $title;
      }
      &::before {
        top: 0;
        transform: rotate(0deg);
        transition: all .3s;
      }
      &::after {
        bottom: 0;
        transition: all .3s;
      }
      &.menu__btn--active {
        transition: all .3s;
        &::before {
          top: 8px;
          transform: rotate(45deg);
          transition: all .3s;
        }
        &::after {
          bottom: 10px;
          transform: rotate(-45deg);
          transition: all .3s;
        }
        span {
          transform: rotateY(90deg);
          transition: all .3s;
          width: 0%;
        }
      }
    }
  }
}

@media (max-width: 628px) {
  .header {
    &__inner {
      flex-wrap: wrap;
    }
    &__search-form {
      order: 0;
    }
  }
  .menu {
    margin-left: auto;
    order: 2;
    &__list {
      top: 167px;
    }
  }
  .user-nav {
    order: 3;
    width: 100%;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .footer {
    padding: 30px 0;
  }
  .footer-top {
    padding-left: 10px;
    &__title {
      font-size: 24px;
      margin-bottom: 10px;
      padding-top: 20px;
    }
    &__link,
    &__email,
    &__adress {
      font-size: 14px;
    }
    &__social-box {
      flex-wrap: wrap;
      margin-top: 20px;
    }
  }
  .footer-categories {
    padding: 20px 0 20px 30px;
    &__title {
      font-size: 24px;
    }
    ul.footer-categories__list {
      display: flex;
      padding-top: 10px;
    }
    &__item {
      &+.footer-categories__item {
        margin-left: 20px;
      }
    }
    &__link {
      font-size: 18px;
    }
  }
  .footer-bottom {
    &__copy {
      font-size: 14px;
    }
  }
}

@media (max-width: 439px) {
  .header {
    &__search-label {
      width: 200px;
    }
  }
  .footer-top {
    &__title {
      font-size: 22px;
      line-height: 1.6;
    }
  }
  .footer-categories {
    padding: 10px 0 10px 10px;
    &__title {
      font-size: 22px;
    }
    &__item {
    & +.footer-categories__item {
        margin-left: 10px;
      }
    }
  } 
    
}
@media (max-width: 370px) {
  .header {
    &__inner {
      justify-content: center;
    }
    &__logo {
      margin-bottom: 10px;
    }
    &__search-label {
      width: 267px;
    }
  }
  .menu {
    &__list {
      top: 222px;
    }
  }
  .footer-top {
    &__nav {
      width: 100%;
    }
    &__item {
      margin-right: 0;
    }
  }
  .footer-categories {
    &__title {
      font-size: 22px;
    }
    &__list {
      flex-direction: column;
    }
    &__item {
      &+.footer-categories__item {
        margin-left: 0px;
      }
    }
  }
}