.top-slider {
  padding-bottom: 50px;

  &__inner {
    position: relative;
  }

  /*   .slick-slide {
    max-width: 1440px;
    width: 100%;
  } */
  .slick-arrow {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
  }

  .slick-next {
    right: 40px;
  }

  .slick-prev {
    left: 40px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -60px;

    & li:first-child {
      button {
        border-radius: 12px 0px 0px 12px;
      }
    }

    & li.slick-active:first-child {
      button {
        border-radius: 12px 0px 0px 12px;
      }
    }

    & li:last-child {
      button {
        border-radius: 0px 12px 12px 0px;
      }
    }

    & li.slick-active:last-child {
      button {
        border-radius: 0px 12px 12px 0px;
      }

    }

    li {
      padding: 0 1px;
      line-height: 0;

      button {
        padding: 0;
        font-size: 0;
        background: rgb(255, 255, 255);
        opacity: 0.5;
        width: 63px;
        height: 10px;
        position: relative;

      }

      &.slick-active {
        button {
          background: rgb(255, 255, 255);
          opacity: 1;

        }
      }
    }
  }

  &__item {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* padding: 129px 0 132px; */
  }

  &__content {
    text-align: left;
    width: 440px;
    margin-left: 193px;
    margin-top: 130px;
    margin-bottom: 132px;
  }

  &__toptitle {
    @extend %coreSansC-500;
    font-size: 32px;
    line-height: 37.7px;
    letter-spacing: 0.16px;
    text-transform: capitalize;
    color: $white;
    margin-bottom: 40px;
  }

  &__title {
    @extend %coreSansC-800;
    font-size: 78px;
    line-height: 93.62px;
    letter-spacing: 0.31px;
    color: $white;
    margin-bottom: 40px;
  }

  &__subtitle {
    @extend %coreSansC-500;
    font-size: 32px;
    line-height: 47.21px;
    letter-spacing: 0.31px;
    margin-bottom: 40px;
    color: $white;
  }

  &__link {
    @extend %causten-700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $title;
    padding: 16px 72px 16px 72px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    display: inline-block;
  }
}

.deals {
  padding-top: 130px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 12px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
    width: 605px;
    height: 356px;
    padding-left: 30px;
  }

  &__content {
    width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__toptitle {
    @extend %montserrat-800;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: $white;
    margin: auto 0 25px;
  }

  &__title {
    @extend %coreSansC-800;
    font-size: 34px;
    line-height: 45.1px;
    color: $white;
    margin-bottom: 10px;
  }

  &__subtitle {
    @extend %coreSansC-500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.25px;
    color: $white;
    margin-bottom: auto;
  }

  &__link {
    @extend %coreSansC-800;
    font-size: 20px;
    line-height: 30.13px;
    text-decoration-line: underline;
    color: $white;
    display: inline-block;
    margin-bottom: auto;
  }
}

.arrival {
  padding-top: 100px;

  &__title {
    margin-bottom: 70px;
  }

  &__inner {
    display: flex;
    justify-content: center;
  }

  &__slider {
    padding: 0 20px;
    min-width: 0;
    position: relative;
  }

  .slick-slide {
    width: 264px;
    margin: 0 20px;
  }

  .slick-arrow {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
  }

  .slick-next {
    right: 0px;
    padding: 0;
  }

  .slick-prev {
    left: 0px;
    padding: 0;
  }

  &__item {
    width: 264px;

  }

  &__img-box {
    width: 264px;
    height: 264px;
    margin-bottom: 35px;
  }

  &__item-img {
    width: 264px;
    height: auto;
    object-fit: cover;
  }

  &__item-link {
    @extend %causten-700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1%;
    color: $title;
    display: inline-block;
  }
}

.savingzone {
  padding-top: 100px;

  &__title {
    margin-bottom: 70px;
  }

  &__inner-top {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 100px;
  }

  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 393px;
    width: 610px;

    &:nth-child(-n+3) {
      width: 400px;
    }

    &--hawaiian {
      padding-left: 20px;

      .savingzone__content {
        align-items: flex-start;
      }
    }

    &--printed,
    &--cargo {
      padding-right: 20px;

      .savingzone__content {
        align-items: flex-end;
        margin-left: auto;
      }
    }

    &--hawaiian,
    &--printed {
      color: $white;

      a {
        border: 1px solid $white;
        color: $white;
      }
    }

    &--cargo,
    &--urban,
    &--oversized {
      color: $title;

      .savingzone__content {
        align-items: flex-start;
        margin-left: auto;

        a {
          border: 1px solid $title;
          color: $title;
        }
      }
    }

    &--urban,
    &--oversized {
      padding-right: 90px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 165px;
  }

  &__content-label {
    margin-top: 35px;
    @extend %causten-700;
    font-size: 12px;
    line-height: 14px;
    color: $white;
    width: 104px;
    height: 34px;
    padding: 10px 16px;
    text-align: center;
    background-color: $title;
  }

  &__content-title {
    margin-top: auto;
    margin-bottom: 10px;
    @extend %coreSansC-600;
    font-size: 28px;
    line-height: 38.43px;
    letter-spacing: 2%;
  }

  &__content-text {
    @extend %causten-600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
  }

  &__content-subtext {
    @extend %causten-700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: auto;
  }

  &__content-linkbox {
    margin-bottom: auto;
  }

  &__content-img {
    width: 27px;
    height: 30px;
    object-fit: cover;
    margin: 0 auto 40px auto;
  }

  &__content-link {
    @extend %causten-500;
    width: 112px;
    height: 34px;
    font-size: 12px;
    line-height: 14px;
    padding: 16px 8px 16px 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: $title;
  }

  &__inner-bottom {
    display: flex;
    justify-content: space-between;
  }

  &__banner {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__banner-box {
    width: 466px;
  }

  &__banner-title {
    @extend %coreSansC-800;
    font-size: 34px;
    line-height: 50px;
    letter-spacing: 0.21px;
    margin-bottom: 30px;
    color: $white;
  }

  &__banner-text {
    @extend %causten-300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    color: $white;
  }

  &__banner-link {
    @extend %causten-600;
    font-size: 18px;
    line-height: 22px;
    color: $title;
    background-color: $white;
    padding: 12px 44px 12px 44px;
    display: inline-block;
    border-radius: 8px;
  }

  &__inner-bottom-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.categories-man,
.categories-woman {
  padding-top: 100px;

  &__title {
    margin-bottom: 70px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }

  &__item {
    width: 270px;
  }

  &__item-img {
    width: 270px;
    height: 394px;
    object-fit: cover;
  }

  &__item-link {
    margin-top: 15px;
    display: block;
    position: relative;
    padding-right: 75px;

    &::after {
      position: absolute;
      content: '';
      background-image: url('../images/category-arrow.svg');
      width: 19px;
      height: 13px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__item-title {
    @extend %causten-700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
    color: #2a2f2f;
  }

  &__item-text {
    @extend %causten-500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.72px;
    color: #7f7f7f;
  }
}

.brands {
  padding-top: 100px;

  &__inner {
    border: 1.07px solid rgb(50, 50, 50);
    border-radius: 12px;
    background: rgb(60, 66, 66);
    padding: 45px 0 60px;
    text-align: center;
  }

  &__title {
    @extend %coreSansC-800;
    font-size: 50px;
    line-height: 49px;
    color: $white;
    margin-bottom: 25px;
  }

  &__subtitle {
    @extend %causten-400;
    font-size: 22px;
    line-height: 26px;
    color: $white;
    margin-bottom: 65px;

    span {
      color: #fbd103;
      @extend %causten-700;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    &+.brands__item {
      margin-left: 25px;
    }
  }

  &__item-img {
    border-radius: 12px;
    width: 178px;
    height: 85px;
    object-fit: cover;
  }
}

.limelight {
  padding-top: 100px;

  &__title {
    margin-bottom: 70px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
  }
}

.product-card {
  width: 282px;
  position: relative;

  &__img {
    width: 282px;
    height: 370px;
    border-radius: 12px;
    object-fit: cover;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }

  &__content-title {
    @extend %causten-600;
    font-size: 16px;
    line-height: 19px;
    color: $title;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 166px;
    padding-right: 2px;
  }

  &__content-text {
    @extend %causten-500;
    color: #807d7e;
    font-size: 14px;
    line-height: 17px;
  }

  &__price {
    @extend %causten-700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    border-radius: 8px;
    background: #f6f6f6;
    color: $title;
    width: 84px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__heart {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      fill: none;

      path {
        stroke: #3C4242;
      }
    }

    &:hover {
      background-color: $accent;

      svg {
        fill: $accent;

        path {
          stroke: $white;
        }
      }
    }
  }
}

.feedback {
  padding: 100px 0px;

  &__title {
    margin-bottom: 70px;
  }

  &__item {
    padding: 24px;
    width: 400px;
    height: 300px;
    border: 1.8px solid #bebcbd;
    border-radius: 10px;
  }

  &__item-topbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__item-topbox-img {
    width: 58px;
    height: 58px;
    object-fit: cover;
  }

  &__item-title {
    @extend %coreSansC-500;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.44px;
    margin-bottom: 20px;
    color: $title;
  }

  &__item-text {
    @extend %causten-400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.32px;
    color: #807d7e;
    white-space: pre-line;
    /* overflow: hidden; */
  }

  .slick-slide {
    width: 400px;
    margin: 0 10px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    li {
      padding: 0 4px;
      line-height: 0;

      button {
        padding: 0;
        font-size: 0;
        background: #bebcbd4d;
        opacity: 0.5;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: relative;

      }

      &.slick-active {
        button {
          background: #3c4242;
        }
      }
    }
  }
}