
.user-register {
  &__link {
    color: $accent;
    @extend %causten-500;
    font-size: 18px;
    line-height: 22px;
    border-radius: 8px;
    border: 1px solid $title;
    padding: 12px 48px 12px 48px;
    display: inline-flex;
  &:hover {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      background: $accent;
      color: $white;
    }
    &--active {
      background-color: $accent;
      color: $white;
      border: none;
    }
    &+.user-register__link {
      margin-left: 30px;
    }
  }
}