.my-account {
  padding: 20px 0 100px;
  &__top-box {
    margin-bottom: 50px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__fotter {
    padding-top: 100px;
  }
}
.account-tabs {
  width: 304px;
  &__title {
    margin-bottom: 10px;
  }
  &__subtitle {
    color: #807d7e;
    @extend %coreSansC-500;
    font-size: 14px;
    line-height: 33.5px;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
  }
  &__item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    width: 295px;
    height: 44px;
    padding-left: 37px;
    display: flex;
    align-items: center;
    color: #807d7e;
    @extend %causten-600;
    font-size: 18px;
    line-height: 22px;
    &:hover {
      background: rgb(246, 246, 246);
      border-radius: 0 8px 8px 0;
      position: relative;
    
      &::before {
        position: absolute;
        content: '';
        width: 2px;
        height: 44px;
        left: 0;
        background-color: $title;
      }
    }
  }
  &__link--active {
    background: rgb(246, 246, 246);
    border-radius: 0 8px 8px 0;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 2px;
      height: 44px;
      left: 0;
      background-color: $title;
    }
  }
  &__link-img {
    margin-right: 17px;
  }
  &__content {
    margin-left: 50px;
    width: 100%;
  }
  &__content-item {
    display: none;
    &--active {
      display: block;
      width: 100%;
    }
  }
}

@import './personal-info';
@import './wishlist';
@import './my-orders';
@import './order-details';




@media (max-width: 1180px) {
  .account-tabs {
    width: auto;
    &__content {
      margin-left: auto;
    }
    &__link {
      width: 267px;
    }
  }
}
@media (max-width: 960px) {
  .my-account {
    &__inner {
      display: block;
    }
  }
  .account-tabs {
    width: 100%;
    margin-bottom: 50px;
    &__content {
      margin-left: 0;
    }
    &__list {
      display: flex;
      justify-content: space-around;
    }
    &__item {
      margin-bottom: 0;
    }
    &__link {
      width: 140px;
      padding-left: 0;
      justify-content: space-evenly;
      border-radius: 8px;
      img {
        margin-right: 0;
      }
      &:hover {
        &::before {
          width: 100%;
          height: 2px;
          left: 0;
          bottom: 0;
        }
      }
    }
    &__link--active {
      &::before {
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
      }
    }
  }

}
@media (max-width: 628px) {
  .account-tabs {
    &__link {
      width: 110px;
    }
  }
}
@media (max-width: 578px) {
  .my-account {
    padding-bottom: 70px;
    &__footer {
      padding-top: 70px;
    }
  }
}
@media (max-width: 500px) {
  .account-tabs {
    &__item {
      margin-bottom: 10px;
    }
    &__list {
      display: block;
    }
    &__link {
      justify-content: flex-start;
      padding-left: 20px;
      border-radius: 0 8px 8px 0;
      width: 160px;
      img {
        margin-right: 10px;
      }
      &:hover {
        &::before {
          width: 2px;
          height: 100%;
          left: 0;
          bottom: auto;
        }
      }
    }
    &__link--active {
      &::before {
        width: 2px;
        height: 100%;
        left: 0;
        bottom: auto;
      }
    }
  }
}