.my-account {
  padding: 20px 0 100px;
  &__top-box {
    margin-bottom: 50px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__fotter {
    padding-top: 100px;
  }
}
.account-tabs {
  width: 304px;
  &__title {
    margin-bottom: 10px;
  }
  &__subtitle {
    color: #807d7e;
    @extend %coreSansC-500;
    font-size: 14px;
    line-height: 33.5px;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
  }
  &__item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    width: 295px;
    height: 44px;
    padding-left: 37px;
    display: flex;
    align-items: center;
    color: #807d7e;
    @extend %causten-600;
    font-size: 18px;
    line-height: 22px;
    &:hover {
      background: rgb(246, 246, 246);
      border-radius: 0 8px 8px 0;
      position: relative;
    
      &::before {
        position: absolute;
        content: '';
        width: 2px;
        height: 44px;
        left: 0;
        background-color: $title;
      }
    }
  }
  &__link--active {
    background: rgb(246, 246, 246);
    border-radius: 0 8px 8px 0;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 2px;
      height: 44px;
      left: 0;
      background-color: $title;
    }
  }
  &__link-img {
    margin-right: 17px;
  }
  &__content {
    margin-left: 50px;
    width: 100%;
  }
  &__content-item {
    display: none;
    &--active {
      display: block;
      width: 100%;
    }
  }
}
.personal-info {
  &__title,
  &__subtitle {
    color: $title;
    @extend %coreSansC-600;
    line-height: 33.5px;
    letter-spacing: 0.02em;
  }

  &__title{
    font-size: 28px;
    margin-bottom: 20px;
  }
  &__subtitle {
    font-size: 22px;
    margin-bottom: 30px;
  }
  &__form {
    max-width: 894px;
    width: 100%;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EDEEF2;
    padding: 30px 0 25px;
    margin-bottom: 20px;
    position: relative;
    input {
      width: 80%;
      border: none;
      padding: 10px 10px 10px 0;
      color:$title;
      @extend %causten-600;
      font-size: 18px;
      line-height: 22px;
      outline: none;
    }
  }
  &__label,
  &__btn {
    @extend %causten-600;
    font-size: 18px;
    line-height: 22px;
  }
  &__label {
    color: #807d7e;
    position: absolute;
    top: 0;
  }
  &__btn {
    color: $title;
  }
}
.personal-adress {
  &__title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  &__title {
    color: $title;
    @extend %coreSansC-600;
    font-size: 22px;
    line-height: 33.5px;
    letter-spacing: 0.02em;
  }
  &__title-link {
    color: $title;
    @extend %causten-600;
    font-size: 18px;
    line-height: 22px;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 25px;
  }
  &__item {
    width: 435px;
    padding: 25px 43px;
    border-radius: 12px;
    background: rgb(246, 246, 246);
  }
  &__item-title {
    color: $title;
    @extend %causten-600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  &__item-number,
  &__item-adress,
  &__tag-box {
    color: #807d7e;
    @extend %causten-500;
    font-size: 16px;
    line-height: 19px;
  }
  &__item-number {
    margin-bottom: 20px;
  }
  &__item-adress {
    margin-bottom: 23px;
    font-style:normal;
  }
  &__tag-box {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
    span {
      border: 1px solid #807d7e;
      border-radius: 8px;
      padding: 7px 19px 7px 19px;
    }
  }

  &__btns-box {
    display: flex;
    flex-wrap: wrap;
  }

  &__btn {
    color: $title;
    @extend %causten-600;
    font-size: 16px;
    line-height: 19px;
    position: relative;
    & + .personal-adress__btn {
      padding-left: 21px;
      &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 20px;
        background: #d9d9d9;
        left: 10px;
        top: 0;
      }
    }
  }
}
.delivery-person {
  &__costumer,
  &__region,
  &__adress,
  &__postal {
    label {
      max-width: 426px;
      span {
        font-size: 18px;
      }
    }
  }
  &__postal {
    & label:nth-child(-n+3) {
      max-width: 426px !important;
      width: 100%;
    }
  }
  .jq-selectbox__select,
  .jq-selectbox__dropdown ul {
    width: 426px;
    li {
    &:hover {
        border: 1px solid rgb(60, 66, 66);
        background: $white;
      }
    }
  }
  &__instruction {
    margin-bottom: 30px;
  }
  &__instruction-label {
    color: $title;
    @extend %causten-600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
  }
  &__instruction-textarea {
    max-width: 895px;
    width: 100%;
    height: 150px;
    border-radius: 8px;
    padding: 16px 20px;
    margin-top: 10px;
    background-color: #f6f6f6;
    resize: none;
    color: #807d7e;
    @extend %causten-400;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    &::placeholder {
      @extend %causten-400;
      font-size: 16px;
      line-height: 19px;
    }
    &:hover {
      border: 1px solid #3c4242;
      background: rgba(102, 32, 193, .03);
    }
    &:focus {
      border: 1px solid #8a33fd
    }
  }
  &__check-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
  }
  &__check-label {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__check-input {
    @extend %checkbox-hidden;
    &:checked + .delivery-person__check-style {
      position: absolute;
      content: '';
      width: 18px;
      height: 18px;
      background-image: url('../images/checked-box.svg');
    }
  }
  &__check-style {
    position: absolute;
    content: '';
    background-image: url('../images/box-disabled.svg');
    width: 18px;
    height: 18px;

    &:hover {
      background-image: url('../images/box.svg');
    }
  }
  &__check-text {
    color: $title;
    @extend %causten-400;
    font-size: 20px;
    line-height: 24px;
    padding-left: 32px;
  }
  &__bottom-box {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__btn {
    border-radius: 8px;
    width: 126px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @extend %causten-400;
    font-size: 20px;
    line-height: 24px;
    &:hover {
      background-color: #6620C1;
      box-shadow: 0px 3px 4px 0px #0000001A;
    }
  
    &:focus {
      background: #6620C1;
    }
  }
  &__btn-save {
    background-color: #8A33FD;
    color: $white;
  }
  &__btn-cancel {
    background-color: #F6F6F6;
    color: #807D7E;
    &:hover,
    &:focus {
      color: $white;
    }
  }
}
/* wishlist */
.wishlist {
  &__title {
    color: $title;
    @extend %coreSansC-600;
    font-size: 28px;
    line-height: 33.5px;
    letter-spacing: 0.02em;
    margin-bottom: 50px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__item {
    display: grid;
    grid-template-columns: auto 4fr repeat(2, 1fr);
    padding-bottom: 30px;
    border-bottom: 1px solid #edeef2;
    & > * {
      align-self: center;
    }
  }
  &__delet-btn {
    margin-right: 35px;
  }
  &__details {
    display: flex;
    align-items: center;
  }
  &__details-img {
    width: 110px;
    height: 110px;
    object-fit: cover;
  }
  &__details-box {
    margin-left: 35px;
  }
  &__details-title,
  &__color-box,
  &__quantity-box {
    color: $title;
    @extend %causten-700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.02em;
    margin-bottom: 12px;
  }
  &__color,
  &__quantity {
    @extend %causten-500;
    color: #807D7E;
  }
  &__quantity {
    margin-bottom: 0;
  }
  &__cost {
    color: #807d7e;
    @extend %causten-700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.02em;
  }
  &__add-btn {
    width: 144px;
    height: 50px;
    border-radius: 8px;
    background-color: $accent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    @extend %causten-500;
    font-size: 18px;
    line-height: 22px;
    &:hover {
        background-color: #6620C1;
        box-shadow: 0px 3px 4px 0px #0000001A;
      }
    
      &:focus {
        background: #6620C1;
      }
  }
}
.wishlist-empty {
  &__container {
    padding: 78px 117px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.05), -2px -2px 4px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center
  }
  &__img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    margin-bottom: 60px;
  }
  &__content {
    text-align: center;
    width: 460px;
  }

  &__title {
    color: $title;
    @extend %coreSansC-600;
    font-size: 34px;
    line-height: 33px;
    margin-bottom: 10px;
  }

  &__subtitle {
    color: #807d7e;
    @extend %causten-500;
    font-size: 16px;
    line-height: 1.247;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
  }
  &__link {
    border-radius: 8px;
    background-color: $accent;
    color: $white;
    @extend %causten-600;
    font-size: 18px;
    line-height: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 46px;
    &:hover {
      background-color: #6620C1;
      box-shadow: 0px 3px 4px 0px #0000001A;
    }
  
    &:focus {
      background: #6620C1;
    }
  }
}
/* recently */
.recently {
  &__title {
    margin-bottom: 30px;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}