.my-orders {
  &__title {
    color: $title;
    @extend %coreSansC-600;
    font-size: 28px;
    line-height: 33.5px;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
  }
}

.my-orders-tabs {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #f6f6f6;
    margin-bottom: 50px;
    @extend %coreSansC-500;
    font-size: 22px;
    line-height: 33.5px;
    letter-spacing: 0.02em;
  }

  &__item {
    color: $title;
    padding: 12px 53px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: #f6f6f6;
      position: relative;
      border-radius: 8px;

      &::before {
        position: absolute;
        content: '';
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $title;
      }
    }

    &--active {
      background: #f6f6f6;
      border-radius: 8px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $title;
      }
    }
  }

  &__content-item {
    display: none;

    &--active {
      display: block;
    }
  }
}

.active-order {
  &__item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #edeef2;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__info {
    padding: 28px 47px;
    border-radius: 8px;
    background-color: #f6f6f6;
    margin-bottom: 33px;
  }

  &__number-box {
    color: $title;
    @extend %causten-600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  &__number {
    margin-left: 5px;
  }

  &__info-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;

    div:nth-child(2n) {
      text-align: right;
    }
  }

  &__order-data,
  &__estimated-delivDate,
  &__order-status,
  &__payment-method {
    color: #807D7E;
    @extend %causten-600;
    font-size: 14px;
    line-height: 17px;

    span {
      @extend %causten-400;
      color: #BEBCBD;
      padding-left: 3px;
    }
  }

  &__card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__details {
    display: flex;
    align-items: center;
  }
  &__details-box {
    margin-left: 25px;
    color: $title;
    @extend %causten-600;
  }

  &__details-img {
    width: 96px;
    height: 96px;
    object-fit: cover;
  }

  &__details-title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
  }

  &__color-box,
  &__quantity-box {
    @extend %causten-600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 5px;

    span {
      color: #BEBCBD;
    }
  }

  &__total-box {
    font-size: 14px;
    line-height: 17px;
    color: #BEBCBD;
  }
  &__btn {
    padding: 14px 28px;
    border-radius: 8px;
    background-color: #8a33fd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    @extend %causten-500;
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 680px) {
  .my-orders-tabs {
    &__top {
      font-size: 18px;
      line-height: 1.2;
    }
    &__item {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}
@media (max-width: 628px) {
  .active-order {
    &__info-box {
      display: block;
      div:nth-child(2n) {
        text-align: left;
      }
    }
  }
}
@media (max-width: 500px) {
  .my-orders-tabs {
    &__top {
      display: block;
      text-align: center;
    }
    &__item {
      display: block;
    }
  }
  .active-order {
    &__card-item {
      display: block;
    }
    &__details {
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 370px) {
  .active-order {
    &__info {
      padding: 15px 20px;
    }
  }
}