/* wishlist */
.wishlist {
  &__title {
    color: $title;
    @extend %coreSansC-600;
    font-size: 28px;
    line-height: 33.5px;
    letter-spacing: 0.02em;
    margin-bottom: 50px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    display: grid;
    grid-template-columns: auto 4fr repeat(2, 1fr);
    padding-bottom: 30px;
    border-bottom: 1px solid #edeef2;

    &>* {
      align-self: center;
    }
  }

  &__delet-btn {
    margin-right: 35px;
  }

  &__details {
    display: flex;
    align-items: center;
  }

  &__details-img {
    width: 110px;
    height: 110px;
    object-fit: cover;
  }

  &__details-box {
    margin-left: 35px;
  }

  &__details-title,
  &__color-box,
  &__quantity-box {
    color: $title;
    @extend %causten-700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.02em;
    margin-bottom: 12px;
  }

  &__color,
  &__quantity {
    @extend %causten-500;
    color: #807D7E;
  }

  &__quantity {
    margin-bottom: 0;
  }

  &__cost {
    color: #807d7e;
    @extend %causten-700;
    padding: 0 10px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.02em;
  }

  &__add-btn {
    width: 144px;
    padding: 14px 28px;
    border-radius: 8px;
    background-color: $accent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    @extend %causten-500;
    font-size: 18px;
    line-height: 22px;

    &:hover {
      background-color: #6620C1;
      box-shadow: 0px 3px 4px 0px #0000001A;
    }

    &:focus {
      background: #6620C1;
    }
  }
}

.wishlist-empty {
  &__container {
    padding: 78px 117px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.05), -2px -2px 4px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center
  }

  &__img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    margin-bottom: 60px;
  }

  &__content {
    text-align: center;
    width: 460px;
  }

  &__title {
    color: $title;
    @extend %coreSansC-600;
    font-size: 34px;
    line-height: 33px;
    margin-bottom: 10px;
  }

  &__subtitle {
    color: #807d7e;
    @extend %causten-500;
    font-size: 16px;
    line-height: 1.247;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
  }

  &__link {
    border-radius: 8px;
    background-color: $accent;
    color: $white;
    @extend %causten-600;
    font-size: 18px;
    line-height: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 48px;

    &:hover {
      background-color: #6620C1;
      box-shadow: 0px 3px 4px 0px #0000001A;
    }

    &:focus {
      background: #6620C1;
    }
  }
}
/* recently */
.recently {
  &__title {
    margin-bottom: 30px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 1280px) {
  .recently {
    .product-card {
      width: 226px;
    }
  }
}
@media (max-width: 1180px) {
  .wishlist {
  &__delet-btn {
    margin-right: 25px;
  }
  &__details-box {
    margin-left: 15px;
  }
  &__details-title,
  &__color-box,
  &__quantity-box,
  &__cost {
      font-size: 18px;
      line-height: 1.2;
    }
  }
  .wishlist-empty {
    &__container {
      padding-left: 90px;
      padding-right: 90px;
    }
  }
}
@media (max-width: 960px) {
  .recently {
    &__inner {
        justify-content: center;
        gap: 50px;
    }
    .product-card {
      width: 282px;
    }
  }
}

@media (max-width: 628px) {
  .wishlist {
    &__item {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: minmax(50px, auto);
      gap: 15px;
    }
    &__details {
      grid-column: 2/-1;
    }
    &__cost {
      grid-column: 2/4;
    }
    &__delet-btn {
      margin-right: 0;
    }
    &__add-btn {
      grid-column: 5/-1;
    }
  }
  .wishlist-empty {
    &__container {
      padding-left: 20px;
      padding-right: 20px;
    }
    &__content {
      width: 100%;
    }
    &__title {
      font-size: 26px;
    }
  }
}
@media (max-width: 439px) {
  .wishlist {
    &__details-title,
    &__color-box,
    &__quantity-box,
    &__cost,
    &__add-btn {
      font-size: 16px;
    }
    &__add-btn {
      padding: 10px 18px;
    }
  }
}
@media (max-width: 370px) {

  .wishlist-empty {
    &__container {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    &__title {
      font-size: 22px;
    }
    &__subtitle {
      font-size: 14px;
    }
  }
}