.shop {
  padding-bottom: 100px;

  &__inner {
    display: flex;
  }

  &__filters {
    margin-right: 50px;
  }
}

.filter {
  margin-right: 50px;
  &__item {
    border: 1px solid rgba(190, 188, 189, .4);
    border-top: none;
    width: 295px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    cursor: pointer;
    border: 1px solid rgba(190, 188, 189, .4);
    border-top: none;

    &:hover {
      .filter__title {
        color: $title;
      }

      svg {
        path {
          stroke: $title;
        }
      }
    }
  }

  &__title-box {
    border-bottom: 1px solid rgba(190, 188, 189, .4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    cursor: pointer;

    span {
      transition: all 0.5s;
    }

    &--hidden {
      & span {
        transform: rotate(180deg);
      }
    }

    &:hover {
      .filter__title {
        color: $title;
      }

      span {
        svg {
          path {
            stroke: $title;
          }
        }
      }
    }
  }

  &__title {
    @extend %causten-600;
    font-size: 22px;
    line-height: 26px;
    color: #807d7e;
  }

  &__btn {
    display: inline-flex;
  }

}

.filter-category {
  padding: 40px 30px;

  &__item {
    &+.filter-category__item {
      margin-top: 18px;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %causten-600;
    font-size: 16px;
    line-height: 19px;
    color: $text;

    &:hover {
      color: $title;

      svg {
        path {
          stroke: $title;
        }
      }
    }
  }
}

.filter-price {
  &__form {
    padding: 40px 30px;
  }

  .irs--flat .irs-line {
    top: 9px;
    height: 3px;
    background: #807d7e;
    opacity: 0.6;
    border-radius: 4px;
  }

  .irs--flat .irs-bar {
    top: 9px;
    height: 3px;
    background-color: rgb(138, 51, 253);
  }

  .irs--flat .irs-handle>i:first-child {
    display: none;
  }

  .irs--flat .irs-handle {
    border-radius: 50%;
    top: 2px;
    width: 16px;
    height: 16px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08), 0px 0px 6px 0px rgba(0, 0, 0, 0.06);
    background-color: rgb(138, 51, 253);
  }

  .irs-from,
  .irs-to,
  .irs-single {
    display: none;
  }

  .irs--flat .irs-min,
  .irs--flat .irs-max {
    display: none;
  }

  .irs--flat {
    height: 24px;
  }

  &__label-box {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__box {
    @extend %causten-500;
    font-size: 16px;
    line-height: 19px;
    color: $title;
    box-sizing: border-box;
    border: 1px solid #bebcbd;
    border-radius: 8px;
    opacity: 0.8;
    padding: 5px 28px;
    width: 98px;
    height: 32px;
  }

  &__from,
  &__to {
    @extend %causten-500;
    font-size: 16px;
    line-height: 19px;
    color: $title;
  }
}

.filter-color {
  &__form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px 0;
    padding: 40px 30px;
  }

  &__label {
    display: block;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    position: relative;
  }

  &__checkbox {
    width: 44px;
    height: 44px;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span {
      width: 36px;
      height: 36px;
      border-radius: 10px;
    }
  }

  &__text {
    @extend %causten-600;
    font-size: 14px;
    line-height: 17px;
    color: $text;
    text-align: center;
    margin-top: auto;
  }

  &__input {
    @extend %checkbox-hidden;
  }

  &__input--purple {
    &:checked+.filter-color__checkbox {
      border: 1px solid $accent;

      &+.filter-color__text {
        color: $accent;
      }
    }
  }

  &__input--black {
    &:checked+.filter-color__checkbox {
      border: 1px solid #252525;

      &+.filter-color__text {
        color: #252525;
      }
    }
  }

  &__input--red {
    &:checked+.filter-color__checkbox {
      border: 1px solid #f35528;

      &+.filter-color__text {
        color: #f35528;
      }
    }
  }

  &__input--orange {
    &:checked+.filter-color__checkbox {
      border: 1px solid #F16F2B;

      &+.filter-color__text {
        color: #F16F2B;
      }
    }
  }

  &__input--navy {
    &:checked+.filter-color__checkbox {
      border: 1px solid #345EFF;

      &+.filter-color__text {
        color: #345EFF;
      }
    }
  }

  &__input--white {
    &:checked+.filter-color__checkbox {
      border: 1px solid $accent;

      &+.filter-color__text {
        color: $accent;
      }
    }
  }

  &__input--broom {
    &:checked+.filter-color__checkbox {
      border: 1px solid #D67E3B;

      &+.filter-color__text {
        color: #D67E3B;
      }
    }
  }

  &__input--green {
    &:checked+.filter-color__checkbox {
      border: 1px solid #48BC4E;

      &+.filter-color__text {
        color: #48BC4E;
      }
    }
  }

  &__input--yellow {
    &:checked+.filter-color__checkbox {
      border: 1px solid #FDC761;

      &+.filter-color__text {
        color: #FDC761;
      }
    }
  }

  &__input--grey {
    &:checked+.filter-color__checkbox {
      border: 1px solid #E4E5E8;

      &+.filter-color__text {
        color: #E4E5E8;
      }
    }
  }

  &__input--pink {
    &:checked+.filter-color__checkbox {
      border: 1px solid #E08D9D;

      &+.filter-color__text {
        color: #E08D9D;
      }
    }
  }

  &__input--blue {
    &:checked+.filter-color__checkbox {
      border: 1px solid #3FDEFF;

      &+.filter-color__text {
        color: #3FDEFF;
      }
    }
  }

  &__checkbox--purple {
    background-color: $accent;
  }

  &__checkbox--black {
    background-color: #252525;
  }

  &__checkbox--red {
    background-color: #f35528;
  }

  &__checkbox--orange {
    background-color: #F16F2B;
  }

  &__checkbox--navy {
    background-color: #345EFF;
  }

  &__checkbox--white {
    background-color: #FFFFFF;
  }

  &__checkbox--broom {
    background-color: #D67E3B;
  }

  &__checkbox--green {
    background-color: #48BC4E;
  }

  &__checkbox--yellow {
    background-color: #FDC761;
  }

  &__checkbox--grey {
    background-color: #E4E5E8;
  }

  &__checkbox--pink {
    background-color: #E08D9D;
  }

  &__checkbox--blue {
    background-color: #3FDEFF;
  }
}

.filter-size {
  &__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 18px;
    padding: 40px 30px;
    &>* {
      justify-self: center;
    }
  }

  &__label {
    display: block;
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-size__checkbox {
      border: 2px solid $title;
      background-color: $accent;
      color: $white;
    }
  }

  &__checkbox {
    border: 1px solid #bebcbd;
    border-radius: 8px;
    opacity: 0.8;
    width: 62px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $title;
    @extend %causten-600;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;

    &:hover {
      background-color: $accent;
      color: $white;
    }
  }
}

.filter-style {
  .filter-style__list {
    padding: 40px 30px;
  }

  &__item {
    &+.filter-style__item {
      margin-top: 18px;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %causten-600;
    font-size: 16px;
    line-height: 19px;
    color: $text;

    &:hover {
      color: $title;

      svg {
        path {
          stroke: $title;
        }
      }
    }
  }
}

.shop-content {
  padding-top: 50px;
  width: 100%;

  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__title {
    @extend %causten-600;
    font-size: 22px;
    line-height: 26px;
    color: #3f4646;
  }

  &__filter-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__filter-btn {
    display: inline-flex;
    color: #3f4646;
    @extend %causten-600;
    font-size: 22px;
    line-height: 26px;

    &+.shop-content__filter-btn {
      margin-left: 20px;
    }

    &--active {
      color: $accent;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px 0;
  }
}

.shop-descr {
  &__title {
    margin-bottom: 30px;
  }

  &__inner {
    div {
      padding-left: 20px;
      color: #807d7e;
      font-size: 20px;
      line-height: 33.5px;
      letter-spacing: 1.4px;

      &:last-child p {
        margin-bottom: 20px;
      }

      h4 {
        @extend %coreSansC-600;
        margin-bottom: 25px;

        &~h4 {
          margin-top: 25px;
        }
      }

      p {
        @extend %causten-400;

        b {
          @extend %coreSansC-600;
        }
      }

      a {
        color: #807d7e;
        @extend %coreSansC-600;
        font-size: 20px;
        line-height: 33.5px;
        letter-spacing: 1.4px;

        &:hover {
          color: $accent;
        }
      }
    }
  }
}

.shop-price {
  padding: 100px 0;

  &__title {
    margin-bottom: 50px;
  }

  &__inner {
    padding-left: 20px;
  }

  table {
    border-spacing: 0px;
    border-radius: 12px;
    background: rgba(245, 245, 245, 0.6);
    width: 100%;

    thead {
      @extend %coreSansC-600;
      color: $title;
      font-size: 24px;
      line-height: 33.5px;
      letter-spacing: 1.4px;

      tr {
        th {
          text-align: left;
          border-bottom: 1px solid rgba(190, 188, 189, 0.4);
          padding: 50px 0px 50px 84px;
        }

        th~th {
          border-left: 1px solid rgba(190, 188, 189, 0.4);
          text-align: center;
          padding-left: 0px;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 25px 10px 25px 84px;
        }

        td~td {
          text-align: center;
          border-left: 1px solid rgba(190, 188, 189, 0.4);
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }

    tr:first-of-type {
      td {
        padding-top: 50px;
      }
    }

    tr:last-of-type {
      td {
        padding-bottom: 50px;
      }
    }
  }
}

@media (max-width: 1180px) {
  .shop-content {
    .product-card {
      width: 282px;
    }
  }
  .shop-descr {
    &__inner {
      div {
        letter-spacing: 0.02em;
        line-height: 1.4;
      }
    }
  }
}
@media (max-width: 960px) {
  .shop-content {
    &__inner {
      justify-content: space-around;
    }
    .product-card {
      width: 226px;
    }
  }
}
@media (max-width: 870px) {
  .shop {
    &__filters {
      margin-right: 30px;
    }
    .filter {
      &__item {
        width: 270px;
      }
    }
  }
  .filter-size {
    &__form {
      gap: 20px 10px;
    }
  } 
  .shop-content {
    .product-card {
      width: 196px;
      &__content {
        flex-wrap: wrap;
      }
      &__content-box {
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 748px) {
  .shop {
    &__inner {
      flex-wrap: wrap;
    }

    .filter {
      width: 100%;

      &__item {
        width: 100%;
      }
      &__title {
        font-size: 20px;
      }
    }

    &__filters {
      margin-right: 0;
    }
  }
  .filter-size {
    &__checkbox {
      width: 100px;
      height: 40px;
      font-size: 16px;
    }
  }
  .filter-color {
    &__checkbox {
      width: 54px;
      height: 54px;
      span {
        width: 46px;
        height: 46px;
      }
    }
  }
  .filter-category,
  .filter-style {
    &__link {
      font-size: 18px;
    }
  }
  .shop-descr {
    &__inner {
      div {
        font-size: 18px;
        a {
          font-size: 18px;
        }
      }
    }
  }
  .shop-price {
    padding: 70px 0;
    &__inner {
      padding-left: 0px;
    }
    table {
      thead {
        font-size: 22px;
        line-height: 1.4;
        letter-spacing: 0.02em;
  
        tr {
          th {
            padding: 30px 0px 30px 20px;
          }
  
          th~th {
            padding: 10px;
          }
        }
      }
  
      tbody {
        tr {
          td {
            padding: 25px 10px 25px 30px;
          }
        }
      }
    }
  }
}
@media (max-width: 680px) {
  .shop-content {
    .product-card {
      width: 226px;
    }
  }
}
@media (max-width: 578px) {
  .shop-content {
    .product-card {
      width: 190px;
    }
  }
  .shop-price {
    table {
      thead {
        font-size: 18px;
      }
  
      tbody {
        tr {
          td {
            font-size: 14px;
          }
        }
      }
  
      tr:first-of-type {
        td {
          padding-top: 30px;
        }
      }
      tr:last-of-type {
        td {
          padding-bottom: 30px;
        }
      }
    }
  }
}
@media (max-width: 439px) {
  .shop-content {
    &__filter {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
    &__title {
      font-size: 20px;
    }
    &__filter-btn {
      font-size: 18px;
    }
    .product-card {
      width: 282px;
    }
  }
  .filter-size {
    &__label {
      width: 100%;
    }
    &__checkbox {
      width: 100%;
      font-size: 16px;
    }
  }
  .filter-category,
  .filter-style {
    &__link {
      font-size: 16px;
    }
  }
  .shop-descr {
    &__title {
      font-size: 22px;
    }
    &__inner {
      div {
        font-size: 16px;

        a {
          font-size: 16px;
        }
      }
    }
  }
  .shop-price {
    &__title {
      font-size: 22px;
    }
    table {
      thead {
        font-size: 16px;
      }

      tbody {
        tr {
          td {
            font-size: 12px;
            padding: 20px 10px 20px 20px;
          }
        }
      }
    }
  }
}
@media (max-width: 370px) {
  .filter-color {
    &__checkbox {
      width: 44px;
      height: 44px;

      span {
        width: 36px;
        height: 36px;
      }
    }
  }
  .filter-size {
    &__checkbox {
      font-size: 14px;
    }
  }
}