@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  &__inner {
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: flex;
  }
  &__list-item {
    & +.menu__list-item {
      margin-left: 40px;
    }
  }
  &__list-item-link {
    @extend %causten-500;
    color: $text;
    position: relative;
    font-size: 22px;
    line-height: 26px;
    &:hover {
      @extend %causten-700;
      color: $title;
    }
    &--active {
      @extend %causten-700;
      color: $title;
    }
  }
  &__search-form {
    display: flex;
    align-items: center;
    width: 267px;
    margin-left: 43px;
    position: relative;
  }
  &__search-btn {
    width: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    svg {
      path{
        fill:#807D7E;
      }
    }
    &:hover {
      svg {
        path {
          fill: $accent;
        }
      }
    }
  }
  &__search-input {
    border-radius: 8px;
    background: #f6f6f6;
    padding: 12px 20px 12px 52px;
    width: 100%;
    height: 44px;
    border: none;
    @extend %causten-400;
    font-size: 16px;
    line-height: 19px;
    color: $text;
    &::placeholder {
      @extend %causten-300;
      font-size: 16px;
      line-height: 19px;
      color: $text;
    }
  }
}
.user-nav {
  display: flex;
  align-items: center;
  &__link {
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 8px;
    background: #f6f6f6;
    &:hover {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      background: $accent;
      svg{
        path {
          stroke: $white;
        }
      }
    }
    & + .user-nav__link {
      margin-left: 12px;
    }
  }
}

.top-slider{
  padding: 0;
  &__inner {
    position: relative;
  }
/*   .slick-slide {
    max-width: 1440px;
    width: 100%;
  } */
  .slick-arrow {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    }
  .slick-next{
   right: 40px;
  }
  .slick-prev{
    left: 40px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    & li:first-child {
      button {
        border-radius: 12px 0px 0px 12px;
      }
    }
    & li.slick-active:first-child {
      button {
        border-radius: 12px 0px 0px 12px;
      }
    }
    & li:last-child {
      button {
          border-radius: 0px 12px 12px 0px;
        }
    }
    & li.slick-active:last-child {
      button {
        border-radius: 0px 12px 12px 0px;
      }
      
    }
    li {
        padding: 0 1px;
        line-height: 0;
        button {
          padding: 0;
          font-size: 0;
          background: rgb(255, 255, 255);
          opacity: 0.5;
          width: 63px;
          height: 10px;
          position: relative;
          
        }
    
        &.slick-active {
          button {
            background: rgb(255, 255, 255);
            opacity: 1;
            
          }
        }
      }
  }
  &__item {
    position: relative;
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* padding: 129px 0 132px; */
  }
  &__content {
    text-align: left;
    width: 440px;
    margin-left: 193px;
    margin-top: 130px;
    margin-bottom: 132px;
  }
  &__toptitle {
    @extend %coreSansC-500;
    font-size: 32px;
    line-height: 37.7px;
    letter-spacing: 0.16px;
    text-transform: capitalize;
    color: $white;
    margin-bottom: 40px;
  }
  &__title {
    @extend %coreSansC-800;
    font-size: 78px;
    line-height: 93.62px;
    letter-spacing: 0.31px;
    color: $white;
    margin-bottom: 40px;
  }
  &__subtitle {
    @extend %coreSansC-500;
    font-size: 32px;
    line-height: 47.21px;
    letter-spacing: 0.31px;
    margin-bottom: 40px;
    color: $white;
  }
  &__link {
    @extend %causten-700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $title;
    padding: 16px 72px 16px 72px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    display: inline-block;
  }
}
.deals {
  padding-top: 130px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
  &__item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 12px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
    width: 605px;
    height: 356px;
    padding-left: 30px;
  }
  &__content {
    width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__toptitle {
    @extend %montserrat-800;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: $white;
    margin: auto 0 25px;
  }
  &__title {
    @extend %coreSansC-800;
    font-size: 34px;
    line-height: 45.1px;
    color: $white;
    margin-bottom: 10px;
  }
  &__subtitle {
    @extend %coreSansC-500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.25px;
    color: $white;
    margin-bottom: auto;
  }
  &__link {
    @extend %coreSansC-800;
    font-size: 20px;
    line-height: 30.13px;
    text-decoration-line: underline;
    color: $white;
    display: inline-block;
    margin-bottom: auto;
  }
}
.arrival {
  padding-top: 100px;
  &__title {
    margin-bottom: 70px;
  }
  &__inner {
    display: flex;
    justify-content: center;
  }
  &__slider {
    padding: 0 20px;
    min-width: 0;
    position: relative;
  }
  .slick-slide {
    width: 264px;
    margin: 0 20px;
  }
  .slick-arrow {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
  }
  .slick-next {
    right: 0px;
    padding: 0;
  }

  .slick-prev {
    left: 0px;
    padding: 0;
  }
  &__item {
    width: 264px;
    
  }
  &__img-box {
    width: 264px;
    height: 264px;
    margin-bottom: 35px;
  }
  &__item-img {
    width: 264px;
    height: auto;
    object-fit: cover;
  }
  &__item-link {
    @extend %causten-700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1%;
    color: $title;
    display: inline-block;
  }
}
@import 'media';